<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE otus.hibernate-configuration SYSTEM
        "http://www.otus.hibernate.org/dtd/otus.hibernate-configuration-3.0.dtd">

<otus.hibernate-configuration>
    <session-factory>
        <property name="otus.hibernate.dialect">org.otus.hibernate.dialect.H2Dialect</property>
        <property name="otus.hibernate.connection.driver_class">org.h2.Driver</property>

        <property name="otus.hibernate.connection.url">jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1</property>
        <property name="otus.hibernate.show_sql">true</property>
        <property name="otus.hibernate.hbm2ddl.auto">create</property>

    </session-factory>
</otus.hibernate-configuration>